/* Cambia el color del encabezado */
h1, h2, h3, h4, h5, h6 {
  color: #2a9d8f; /* Cambiar a un color específico */
}

/* Cambia el color de fondo de todo el documento */
body {
  background-color: #f0f0f0; /* Cambiar el color de fondo */
}

/* Cambia el color de los enlaces */
a {
  color: #8B2252; /* Cambiar el color de los enlaces */
}

/* Cambia el color de los bloques de código */
pre, code {
  background-color: #EEE9E9; /* Fondo de código */
  color: #363636; /* Texto de código */
	font-size:10pt;
}

/* Cambia el color de la barra lateral */
#sidebar h2{
  background-color: #8B2252;
  color: #ffffff;
}

#sidebar {
  background-color: #264653;
  color: #ffffff;
}

#content {
  max-width: 80% !important;
}

div p a {
  background-image: none !important;
}

